
@import "tailwindcss";

*{
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Range Slider Styling */
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  pointer-events: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: #000;
  border-radius: 50%;
  cursor: pointer;
  pointer-events: auto;
  z-index: 20;
}

input[type="range"]::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: #000;
  border-radius: 50%;
  cursor: pointer;
  pointer-events: auto;
  z-index: 20;
}